:root {
    --orange: #ef870a;
    --biscuit: #ffe4c4;
    --brick: #b22222;
    --withe: #fff;
    --black: #000;
    --box-dark-shadow: 0 0 8px var(--black), 0 0 16px 8px var(--brick);
    --text-light-shadow: 0 0 4px var(--withe), 0 0 16px var(--brick);

    font-size: calc(10px + 1vw);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid #000; */
}

body {
    background: linear-gradient(var(--orange), var(--biscuit));
    background-attachment: fixed;
    font-family: "Anton", Helvetica, sans-serif;
    color: var(--brick);
    min-height: 100vh;
}

.header {
    position: fixed;
    left: 0;
    width: 170px;
    background-color: var(--brick);
}

.header ul {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header li {
    text-decoration: none;
    padding: 12px 28px;
    border-bottom: 2px solid #ffe4c4;
}

.header a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: #ffe4c4;
}

.header a:hover {
    scale: 1.05;
    transition: 1.5s;
    text-shadow: var(--text-light-shadow);
}

.recipe {
    margin: 0 15% 0 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.recipe .logo {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.recipe .logo h1 {
    font-size: 3rem;
    line-height: 1.2;
    text-transform: uppercase;
    text-shadow: var(--text-light-shadow);
    letter-spacing: 0.5rem;
}

.recipe .logo h2 {
    font-size: 1.6rem;
    line-height: 1.2;
    max-width: 600px;
    text-transform: uppercase;
    text-shadow: var(--text-light-shadow);
    letter-spacing: 0.1rem;
}

.recipe .duble-col {
    display: flex;
    gap: 25px;
}

.recipe .image img {
    height: 350px;
    width: 300px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: var(--box-dark-shadow);
}

.right h2,
.steps h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
    text-shadow: var(--text-light-shadow);
    letter-spacing: 3px;
    margin-top: 10px;    
}

.desc > h2 {
    margin-top: 0;
}
.right p {
    font-size: 0.75rem;
    line-height: 1.5;
    text-align: justify;
}

.right ul {
    columns: 2;
    font-size: 0.75rem;
    line-height: 1.5;
    list-style-type: none;
}

.steps ol {
    margin-left: 20px;
    font-size: 0.75rem;
    line-height: 1.5;
}

.steps img {
    margin: 15px 0;
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: var(--box-dark-shadow);
}