:root {
    --orange: #ef870a;
    --biscuit: #ffe4c4;
    --brick: #b22222;
    --withe: #fff;
    --black: #000;
    --box-dark-shadow: 0 0 8px var(--black), 0 0 16px 8px var(--brick);
    --text-light-shadow: 0 0 4px var(--withe), 0 0 16px var(--brick);

    font-size: calc(10px + 1vw);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(var(--orange), var(--biscuit));
    background-attachment: fixed;
    font-family: "Anton", Helvetica, sans-serif;
    color: var(--brick);
    min-height: 100vh;
}

.index {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - 2px);
}

.index h1 {
    text-transform: uppercase;
    font-size: 4.2rem;
    text-shadow: var(--text-light-shadow);
    letter-spacing: 1rem;
}

.index .cards {
    display: flex;
    gap: 4vw;
}

.index .card {
    display: flex;
    width: 340px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--orange);
    border-radius: 5px;
    box-shadow: var(--box-dark-shadow);
}

.index .card h2 {
    font-size: 0.9rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: var(--text-light-shadow);
}

.index .card img {
    border-radius: 12px;
    max-width: 240px;
    max-height: 300px;
    object-fit: cover;
    transition: 2s;
    transition-delay: 0.5s;
}

.index .card img:hover {
    scale: 1.1;
    box-shadow: var(--box-dark-shadow);
    transition: 2s;
    transition-delay: 0.3s;
}

.index .card .text {
    font-family: sans-serif;
    font-size: 0.6rem;
    font-weight: 800;
    width: 240px;
    height: 80px;
    text-align: justify;
}

.footer p {
    font-size: 0.8rem;
}

.footer a {
    text-decoration: none;
    color: var(--brick);
    text-transform: uppercase;
}